.title {
    text-align: center;
    font-size: 44px;
    font-family: sans-serif; 
    color: white;
}

html {
    background-image: url(https://files.slack.com/files-pri/T03GU501J-FM268D874/royal_cash_pmvc_custom_background_r24e2066892fb499aba595de426837fa1.jpg);
    background-size: 100% 100%;
}

[id^="cardselect-"] {
    transition: all 0.1s ease-in-out;
}
[id^="cardselect-"]:hover {
   -moz-transform: translate(-10px, -10px);
    -ms-transform: translate(-10px, -10px);
    -o-transform: translate(-10px, -10px);
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px)
}

#percentages {
    font-size: 20px;
}

#board {
    max-width: 1100px;
    margin: 0 auto;
}